{# templates/mypage/posts.html #}
{% extends 'base_mypage.html' %}
{% load static %}

{% block tab_content %}
<div class="content-card">
  <h2 class="card-title">내 게시글</h2>
  <ul class="post-list">
    {% for post in my_posts %}
      <li>
        <a href="{% url 'community:post_detail' board_type=post.board_type pk=post.pk %}">
          {{ post.title }}
        </a>
        <span class="post-date">{{ post.created_at|date:"Y.m.d" }}</span>
      </li>
    {% empty %}
      <li class="empty">작성된 게시글이 없습니다.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
