<!--templates/base.html-->

{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}홈 – 우리동네공모전{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/globals.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/mypage.css' %}">
  <link reo="stylesheet" href="{% static 'css/community_board.css' %}">
</head>
<body>
  {% include 'partials/header.html' %}
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include 'partials/footer.html' %}
  {% block extra_scripts %}{% endblock %}

</body>
</html>
