<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ poster.title }}</title>
</head>
<body>
    <h1>{{ poster.title }}</h1>
    <img src="{{ poster.image.url }}" alt="포스터" width="300"><br><br>
    <p><strong>디데이:</strong> {{ poster.d_day }}</p>
    <p><strong>주최:</strong> {{ poster.organization }}</p>
    <p><strong>기업형태:</strong> {{ poster.company_type }}</p>
    <p><strong>참여대상:</strong> {{ poster.target }}</p>
    <p><strong>시상규모:</strong> {{ poster.prize }}</p>
    <p><strong>공모분야:</strong> {{ poster.category }}</p>
    <p><strong>활동혜택:</strong> {{ poster.benefits }}</p>
    <p><strong>추가혜택:</strong> {{ poster.extra }}</p>
    <p><strong>상세내용:</strong><br>{{ poster.description }}</p>
    <p><strong>홈페이지:</strong> <a href="{{ poster.website }}">링크</a></p>
    <p><strong>접수기간:</strong> {{ poster.start_date|date:"F d, Y" }} ~ {{ poster.end_date|date:"F d, Y" }}</p>
    <p>조회수: {{ poster.views }}회</p>

    <br>
    <a href="{% url 'poster:poster_list' %}">← 목록으로 돌아가기</a>

</body>
</html>
