<!-- templates/contest/home.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>공모전 플랫폼에 오신 것을 환영합니다!</h1>
    <p>여기서 최신 공모전 소식을 확인하고, 출품작을 제출할 수 있어요.</p>

    {% if request.user.is_authenticated %}
      {% if request.user.role == 'business' %}
        <a href="{% url 'contest:register_contest' %}" class="btn btn-primary">공모전 등록하기</a>
      {% else %}
        <p class="text-muted">※ 일반 회원은 공모전 등록 권한이 없습니다.</p>
      {% endif %}
    {% else %}
      <p><a href="#">로그인 후 공모전을 등록할 수 있습니다.</a></p>  {# 나중에 href에 login url 넣기 #}
    {% endif %}

  </div>
{% endblock %}
